*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:#67888f;
    font-family: sans-serif;

}

body{
    background-color:#f8908f;
}

.link-bio{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin:40px auto;
    gap:20px;
}

.link-bio img{
    width:200px;
    height: 200px;
    border:solid 1px #bfd7d7;
    border-radius: 100%;
   
}

.link-bio h1{
    font-size: 40px;
}

.link-bio a{
    background-color: #bfd7d7;
    padding: 15px;
    width: 100%;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    border: solid #bfd7d7;
    border-radius: 10px;
}

.link-bio a:hover{
    background-color: #f8908f;
    color: #bfd7d7;
}

h1{
    font-size:small (1.75em, 1em + 3vw, 2,5em);
}

